	body {
	font-family: 'Nunito', sans-serif;
	margin: 50px 150px 50px 150px;
	text-align: center;
	}

	p {
	font-size: 18px;
	}
	
	.big-div-header {
	height: 650px;
	display: grid;
	grid-template-rows: 60px 440px 20px;
	justify-content: center;
	align-content: center;
	text-align: center;
	overflow-wrap: break-word;

	}

	.big-div-langley {
	height: 425px;
	display: grid;
	grid-template-rows: 50px 375px;
	justify-content: center;
	align-content: center;
	text-align: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	
	.big-div-glenn {
	height: 475px;
	display: grid;
	grid-template-rows: 50px 425px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	
	.big-div-water {
	height: 1100px;
	display: grid;
	grid-template-rows: 50px 1050px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;
	
	}

	.big-div-thstr {
	height: 850px;
	display: grid;
	grid-template-rows: 50px 800px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	
	.big-div-gimb {
	height: 675px;
	display: grid;
	grid-template-rows: 50px 550px 75px ;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	
	.big-div-plate {
	height: 400px;
	display: grid;
	grid-template-rows: 50px 350px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	
	.big-div-bay {
	height: 800px;
	display: grid;
	grid-template-rows: 100px 600px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	
	.big-div-headset {
	height: 650px;
	display: grid;
	grid-template-rows: 50px 600px;
	justify-items: center;
	align-items: center;
	overflow-wrap: break-word;

	}
	
	.big-div-tool {
	height: 500px;
	display: grid;
	grid-template-rows: 50px 375px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	
	.big-div-bridge {
	height: 550px;
	display: grid;
	grid-template-rows: 50px 450px;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow-wrap: break-word;

	}
	

	.medimg-div-left {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 30% 50%;
	grid-column-gap: 10%;
	justify-items: center;
	align-items: center;
	overflow-wrap: break-word;
	padding: 5%;
	}
	
	.medimg-div-right {
	width: 850px;
	margin: auto;
	display: grid;
	grid-template-columns: 500px 300px;
	grid-column-gap: 50px;
	justify-items: center;
	align-items: center;
	text-align: center;
	overflow-wrap: break-word;
	}
	
	.mednoimg-div {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-content: center;
	text-align: center;
	overflow-wrap: break-word;
	}
	
	
	.small-div {
	display: flex;
	align-items: center;
	justify-items: center;
	overflow-wrap: break-word;
	
	}
	
	.three-columns {
	display: grid;
	grid-template-columns: 280px 280px 280px;
	grid-column-gap: 20px;
	justify-items: center;
	align-items: center;
	overflow-wrap: break-word;
	}
	
	.two-rows {
	display: grid;
	grid-row-gap: 20px;
	justify-items: center;
	align-items: center;
	overflow-wrap: break-word;
	}
	
	.img-div {
	display: flex;
	align-items: center;
	justify-content: right;
	overflow-wrap: break-word;
	
	}
	
	.vid-div {
	display: flex;
	align-items: center;
	justify-content: right;
	overflow-wrap: break-word;
	
	}
	
	
	.header-div {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	overflow-wrap: break-word;
	}